body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  position: relative;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffffcb;
  background-image: url(./assets/bg3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Varela Round", sans-serif;
}

.h {
  max-width: 100%;
  margin-top: 5%;
  text-align: center;
  padding: 40px 20px 20px;
  color: #06172a;
}

.h h1 {
  color: #06172a;
  font-size: 28px;
  margin-bottom: 10px;
}
/* .h h1:hover {
  color: #06172a;
}
.h p:hover {
  color: #06172a;
} */

.h p {
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 30px;
  line-height: 1.6;
}

.h-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.h-features div {
  background: rgba(255, 255, 255, 0.427);
  padding: 18px;
  border-radius: 12px;
}

.h-features h4 {
  color: #06172a;
  margin-bottom: 6px;
  font-size: 20.8px;
}

.navbar {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 1;
  padding: 12px 0 12px 0px;
  background-image: url("https://www.transparenttextures.com/patterns/triangles.png");
  background-color: rgba(157, 182, 195, 0.102);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  /* border-radius: 10%; */
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #06172a;
  letter-spacing: 1px;
  /* margin-left: 1%; */
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  /* color: rgb(255, 233, 188); */
  color: #06172a;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #5d6977;
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon {
  cursor: pointer;
  font-size: 18px;
}

.hamburger {
  display: none;
  color: #06172a;
  font-size: 22px;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

.form-box {
  min-width: 30%;
  padding: 30px;
  max-height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* background-color: #141414; */
  background-color: #070f17;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.form-box input {
  padding: 14px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #bed4e7;
  color: #06172a;
}
.form-box input:hover {
  background-color: #d2d7dc;
}
.form-box input::placeholder {
  color: rgb(73, 84, 92);
}
.submit-btn {
  align-self: center;
  margin-top: 10px;
  width: 100px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background: #5a5d5e;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #404142c5;
}

.output-box {
  margin-right: 2%;
  width: 70%;
  margin-top: 25px;
  margin-bottom: 10%;
  padding: 22px;
  background: rgba(156, 160, 162, 0.216);
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.output-box h3 {
  margin: 0 0 12px;
  color: #444;
}

.output-box p {
  margin: 5px 0;
  font-size: 20px;
  color: #141414;
}

.output-box .desc {
  margin-top: 10px;
  opacity: 0.8;
  font-size: 13px;
}

.footer {
  background-color: #cdc2c256;
  background-image: url("https://www.transparenttextures.com/patterns/triangles.png");
  max-width: 100%;
  /* margin-top: 60px; */
  font-family: "Varela Round", sans-serif;
  padding: 40px 20px 20px;
}

.footer-content {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer p,
.footer a {
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer ul li {
  margin-bottom: 6px;
}
.footer li:hover {
  cursor: pointer;
  color: white;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  font-size: 0.85rem;
  opacity: 0.8;
}
.fa-paper-plane,
.fa-user {
  position: fixed;
  top: 4%;
  right: 2%;
  z-index: 2;
  font-size: 27px;
  cursor: pointer;
}
.fa-user {
  right: 5%;
}
.fa-envelope,
.fa-phone {
  position: fixed;
  z-index: 2;
  right: 4%;
  bottom: 5%;
  font-size: 30px;
  cursor: pointer;
}
.fa-phone {
  bottom: 13%;
}
.fix-icon-bottom i:hover {
  background-color: #06172a;
  color: #ffffff;
  border-radius: 50%;
  padding: 1%;
}

@media screen and (max-width: 570px) {
  .container {
    min-height: 100vh;
    width: 100%;
    background-image: url(./assets/bg2.jpg);
    background-size: cover;
    /* padding-top: 80px; */
  }
  .h-features div {
    background-color: #ffffffc3;
  }
  .logo {
    color: #06172a;
  }
  .navbar {
    max-width: 100%;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    position: absolute;
    top: 70px;
    left: 0;
    gap: 18px;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
    animation: slideDown 0.3s ease;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hamburger {
    font-size: 28px;
    display: block;
    color: #06172a;
  }

  .main {
    width: 100%;
  }

  .form-box {
    max-width: 100%;
    padding: 20px;
  }

  .submit-btn {
    width: 80px;
    height: 80px;
  }

  /* .output-box {
    width: 100%;
    margin-top: 20px;
    overflow-x: hidden;
  } */

  .output-box h3 {
    font-size: 1.1rem;
  }

  .output-box li {
    font-size: 0.9rem;
  }
  .fa-paper-plane,
  .fa-user {
    position: fixed;
    top: 2%;
    right: 2%;
    z-index: 2;
    font-size: 27px;
  }
  .fa-user {
    right: 8%;
  }
  .fa-envelope,
  .fa-phone {
    position: fixed;
    z-index: 2;
    right: 3%;
    bottom: 5%;
    font-size: 26px;
    cursor: pointer;
  }
  .fa-phone {
    bottom: 11%;
  }
}
@media screen and (min-width: 571px) and (max-width: 767px) {
  .container {
    min-height: 100vh;
    width: 100%;
    background-image: url(./assets/bg2.jpg);
    background-size: cover;
    /* padding-top: 80px; */
  }
  .logo {
    font-size: 32px;
  }
  .navbar {
    padding: 0px;
    text-align: left;
    letter-spacing: 0;
  }
  .nav-links {
    max-width: 100%;
    gap: 18px;
  }
  .nav-left span {
    font-size: 20px;
  }

  .nav-links li a {
    text-decoration: none;

    color: #06172a;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s;
  }

  .form-box {
    max-width: 420px;
  }

  .output-box {
    padding: 20px;
  }
  .fa-paper-plane,
  .fa-user {
    position: fixed;
    top: 3%;
    left: 23.5%;
    z-index: 2;
    font-size: 18px;
  }
  .fa-user {
    left: 20%;
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    background: none;
  }
  .nav-links li a {
    font-size: 16px;
  }
  .main {
    max-width: 900px;
    margin: auto;
  }

  .form-box {
    max-width: 500px;
  }

  .output-box {
    width: 90%;
  }
  .fa-paper-plane {
    right: 5%;
  }
  .fa-user {
    right: 10%;
  }
}
@media (min-width: 1025px) {
  .main {
    max-width: 1100px;
  }

  .form-box {
    max-width: 520px;
  }

  .output-box {
    width: 80%;
  }
  .fa-paper-plane,
  .fa-user {
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 2;
    font-size: 27px;
  }
  .fa-user {
    right: 5%;
  }
  .fa-envelope,
  .fa-phone {
    position: fixed;
    z-index: 2;
    right: 4%;
    bottom: 5%;
    font-size: 30px;
    cursor: pointer;
  }
  .fa-phone {
    bottom: 13%;
  }
}
@media (min-width: 1441px) {
  .main {
    max-width: 1300px;
  }

  .form-box {
    max-width: 600px;
  }

  .output-box {
    width: 70%;
  }
  .fa-paper-plane,
  .fa-user {
    position: fixed;
    top: 4%;
    right: 2%;
    z-index: 2;
    font-size: 27px;
  }
  .fa-user {
    right: 5%;
  }
  .fa-envelope,
  .fa-phone {
    position: fixed;
    z-index: 2;
    right: 4%;
    bottom: 5%;
    font-size: 30px;
    cursor: pointer;
  }
  .fa-phone {
    bottom: 13%;
  }
}
